#Python stuff
__pycache__/
*.pyc

#Database
db.sqlite3
init_db.py
src/djangle/forum/migrations/

#PyCharm stuff
.idea/

#Host configuration file
config.ini

#Celery
celerybeat-schedule*

#Profile pictures
src/djangle/djangle/static/djangle/images/prof_pic/*
!src/djangle/djangle/static/djangle/images/prof_pic/Djangle_user_default.png
