#Python stuff
__pycache__/
*.pyc

#Database
db.sqlite3
init_db.py
djangle/forum/migrations/

#PyCharm stuff
.idea/

#Host configuration file
#config.ini

#Celery
celerybeat-schedule*

#Profile pictures
djangle/djangle/static/djangle/images/prof_pic/*
!djangle/djangle/static/djangle/images/prof_pic/Djangle_user_default.png
