{% extends 'base.html' %}
{% block titlesection %}- Registration{% endblock %}
{% block subtitle %}Registration Page{% endblock %}
{% block body %}
    <section>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value={% url 'main_page' %} />
            {% endif %}
            <input type="submit" value="Create" />
        </form>
    </section>
{% endblock %}