{%  extends 'forum/base.html' %}
{%  load staticfiles %}
{% block titlesection %}- Forum{%  endblock %}
{% block menu_per_page %}
    {% if request.user.is_authenticated and boards %}
        <li><a href='{% url 'forum:create_thread' %}' class="navbar-link">New Thread</a></li>
    {% endif %}
    <li>
        <div class="dropdown">
            <span class=" dropdown-toggle navbar-link" role="button" data-toggle="dropdown">Boards</span>
            <ul class="dropdown-menu">
                {% for board in boards %}
                    <li><a href="{%  url 'forum:board' board.code none %}">{{ board.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
{% endblock %}
{% block body %}
    <script src="{% static 'forum/js/localTime.js' %}"></script>
    {%  if errors %}
        <div class="alert alert-danger">
            <strong>ERROR:</strong> {% for error in errors %}{{error}}{% endfor %}
        </div>
    {%  endif %}
    {%  if boards %}
        {% for board in boards %}
            <a href="{%  url 'forum:board' board.code none %}" id="board">
                <div class="well well-sm boards lead">
                    <div class="row">
                        <div class="col-xs-10">
                            <span class="glyphicon glyphicon-list-alt"></span> {{ board.name }}
                        </div>
                        <div class="col-xs-2 text-right">
                            {% if board in request.user.modded_boards%}
                                <span class="glyphicon glyphicon-knight" title="modded" id="modded"></span>
                            {% elif request.user.is_superuser %}
                                <span class="glyphicon glyphicon-king" title="supermodded" id="modded"></span>
                            {% elif request.user.is_supermod %}
                                <span class="glyphicon glyphicon-queen" title="supermodded" id="modded"></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-md-1 hidden-xs"></div>
                <div class="col-md-11 col-xs-12">
                    {% if board.thread_set.all %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="thread">Thread</th>
                                    <th id="replies">Replies</th>
                                    <th id="votes">Votes</th>
                                    <th id="last">Last Post</th>
                                </tr>
                            </thead>
                            {% for thread in board.get_new %}
                                {% if thread.last_post %}
                                    <tr>
                                        <td id="thread">
                                            {% if thread.is_closed %}<span class="glyphicon glyphicon-lock" title="closed"></span>{% endif %}
                                            <a href="{% url 'forum:thread' thread.pk 1 %}">{{ thread }}</a>
                                            by <a href='{% url 'forum:profile' thread.first_post.author.username %}'>{{ thread.first_post.author }}</a>
                                        </td>
                                        <td id="replies"><script> document.write({{ thread.post_set.all.count }} - 1)</script></td>
                                        <td id="votes"><p id="pos_votes"><span class="glyphicon glyphicon-triangle-top"></span> {{ thread.first_post.pos_votes }}</p><p id="neg_votes"><span class="glyphicon glyphicon-triangle-bottom"></span> {{ thread.first_post.neg_votes }}</p></td>
                                        <td id="last"><a href="{% url 'forum:thread' thread.pk thread.last_post.get_page %}#{{ thread.last_post.pk }}"><script> document.write(date("{{ thread.last_post.pub_date|date:'d M Y H:i:s' }}"))</script></a><br/>
                                            <a href='{% url 'forum:profile' thread.last_post.author.username %}'>{{ thread.last_post.author }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% else %}
                        <p id="no-threads">No threads available.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if request.user.is_supermod %}
            <a href="{% url 'forum:create_board' %}" id="board" title="Create Board">
                <div class="well well-sm boards lead">
                    No board available
                </div>
            </a>
        {% else %}
            <div class="well well-sm no-boards lead">
                No board available
            </div>
        {% endif %}
    {% endif %}
{% endblock %}