{%  extends 'forum/base.html' %}
{% load staticfiles %}
{%  block titlesection %}- Forum - user {{ user.username }}{%  endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static 'forum/style.css' %}' />
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                    <div class="col-xs-6 col-sm-12">
                         <img src="{{ user.avatar.url }}" alt="user avatar" class="img-responsive img-profile" >
                    </div>
                    <div class="col-xs-6 col-sm-12 text-right-xs" id="user-details">
                        {{ user.first_name }} {{ user.last_name }}<br/>
                        <span class="glyphicon glyphicon-user"></span> {{ user.username }}<br/>
                        <a title="Reputation"><span class="glyphicon glyphicon-star"></span> {{ user.rep }}</a><br/>
                        <a title="Threads"><span class="glyphicon glyphicon-pencil"></span> {{ user.num_threads }}</a><br/>
                        <a title="Posts"><span class="glyphicon glyphicon-comment"></span> {{ user.posts }}</a><br/>
                        <a title="User Since"><span class="glyphicon glyphicon-bookmark"></span> <span id="user_since"></span></a><br/>
                        <a title="Last Seen"><span class="glyphicon glyphicon-time"></span>{% if user.last_login %} <span id="last_seen"></span>
                        {% else %} Never logged in
                        {% endif %}
                        </a><br/>
                        {% if user.is_superuser %}
                            <span class="glyphicon glyphicon-king"></span> admin<br/>
                        {% elif user.is_supermod %}
                            <span class="glyphicon glyphicon-queen"></span> supermoderator<br/>
                        {% elif user.modded_boards %}
                            <span class="glyphicon glyphicon-knight"></span> moderator<br/>
                        {% else %}
                            <span class="glyphicon glyphicon-pawn"></span> user<br/>
                        {% endif %}
                        {% if user.username == request.user.username %}
                            <a href="{% url 'forum:edit_profile' %}" role="button" class="btn btn-default">Edit profile</a>
                        {% endif %}
                    </div>
            </div>
        </div>
        <div class="col-sm-8">
            {% if top_threads %}
                <div class="well well-sm">
                    top threads
                </div>
                <ul class="list-group">
                    {% for thread, vote in top_threads %}
                        <li class="list-group-item">
                            <a href="{% url 'forum:thread' thread.pk ''%}">
                                <div class="row">
                                    <div class="col-xs-8">
                                        {{ thread }}
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <span class="badge" id="pos_badge">
                                            {{ thread.first_post.pos_votes }}
                                        </span>
                                        <span class="badge" id="neg_badge">
                                            {{ thread.first_post.neg_votes }}
                                        </span>
                                    </div>

                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="well well-sm">
                    {% if user.username == request.user.username %}
                        You haven't written any thread yet
                    {% else %}
                        {{ user.username }} hasn't written any thread yet
                    {% endif %}
                </div>
            {% endif %}
            {% if top_posts %}
                <div class="well well-sm">
                    top posts
                </div>
                <ul class="list-group">
                    {% for post, vote, page in top_posts %}
                        <li class="list-group-item">
                            <a href="{% url 'forum:thread' post.thread.pk page %}#{{ post.pk }}">
                                <div class="row">
                                    <div class="col-xs-8">
                                        {{ post }}
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <span class="badge" id="pos_badge">
                                            {{ post.pos_votes }}
                                        </span>
                                        <span class="badge" id="neg_badge">
                                            {{ post.neg_votes }}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            {% else %}
                <div class="well well-sm">
                    {% if user.username == request.user.username %}
                        You haven't written any post yet
                    {% else %}
                        {{ user.username }} hasn't written any post yet
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>


    <script src="{% static 'forum/js/dateScript.js' %}"></script>
    <script>
    document.getElementById("user_since").innerHTML = date_fun(new Date({{ user.date_joined|date:'Y, m, d' }}));
    document.getElementById("last_seen").innerHTML = date_fun(new Date({{ user.last_login|date:'Y, m, d' }}))
    </script>
{% endblock %}