<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'djangle/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'djangle/images/favicon.ico' %}"/>
    <title>Djangle {% block titlesection %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-left-not-xs">
                    <a href='{% url 'main_page' %}' id="alogo">
                        <img src="{% static 'djangle/images/Djangle_logo.png'%}" alt="Djangle logo" id="logo">
                        <img src="{% static 'djangle/images/Djangle_text.png' %}" alt="Djangle" id="logo-title">
                    </a>
                </div>
                <div class="col-sm-4 text-right-not-xs" id="header-right">
                    {% if request.user.is_authenticated %}
                        <!--Temporary Admin link -->
                        {% if request.user.is_superuser %}
                            <a href='/admin' id="auth">{{ request.user.username }}</a> | <a href='{% url 'logout' %}' id="auth">Logout</a>
                        {% else %}
                        <!--  Not temporary section -->
                            <a href='{% url 'forum:profile' request.user.username %}' id="auth">{{ request.user.username }}</a> | <a href='{% url 'logout' %}' id="auth">Logout</a>
                        <!-- Temporary closure -->
                        {% endif %}
                        <!-- End of temporary section-->
                    {% else %}
                        <a href='{% url 'register' %}' id="auth">Sign Up</a> | <a href='{% url 'login' %}' id="auth">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-djangle">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">{% block subtitle %}{% endblock %}</a>
            </div>
            <div class="collapse navbar-collapse" id="menuNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% block menu %}{% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>