<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'djangle/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'djangle/images/favicon.ico' %}"/>
    <title>Djangle {% block titlesection %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div id="top">
            <div id="header-left">
                <h1 id="header-title">
                    <a href='{% url 'main_page' %}' id="alogo">
                        <img src="{% static 'djangle/images/Djangle_logo.png'%}" alt="Djangle logo" id="logo">
                        <img src="{% static 'djangle/images/Djangle_text.png' %}" alt="Djangle" id="logo-title">
                    </a>
                </h1>
                <h2 id="header-subtitle">{% block subtitle %}{% endblock %}</h2>
            </div>
            <div id="header-right">
                {% if request.user.is_authenticated %}
                    <!--Temporary Admin link -->
                    {% if request.user.is_superuser %}
                        <a href='/admin' id="auth">{{ request.user.username }}</a> | <a href='{% url 'logout' %}' id="auth">Logout</a>
                    {% else %}
                    <!--  Not temporary section -->
                        <a href='{% url 'profile' %}' id="auth">{{ request.user.username }}</a> | <a href='{% url 'logout' %}' id="auth">Logout</a>
                    <!-- Temporary closure -->
                    {% endif %}
                    <!-- End of temporary section-->
                {% else %}
                    <a href='{% url 'register' %}' id="auth">Sign Up</a> | <a href='{% url 'login' %}' id="auth">Login</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="menu">
        <div id="top">
            <ul class="menu">
                    {% block menu %}{% endblock %}
            </ul>
        </div>
    </div>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>