/* =GENERAL---------------------*/
body{
	font-family: Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px;
	background:#fff;
	overflow-x: auto;
}

a:link{
	color:#ff9900;
	font-weight: bold;
	text-decoration:none;
}

a:hover{
	font-weight: bold;
	text-decoration:underline;
}

a:visited{
	color:#ff6600;
	font-weight: bold;
	text-decoration:none;
}

/*=HEADER--------------------------*/
header {
	height:3em;
	background:#333;
	color:#c1c1c1;
	display:block;
	padding: 10px 5px;
	text-shadow: 0px 0px 3px #000;
}

#top{
	min-width: 300px;
	max-width: 1024px;
	margin:auto;
    align-self:center;
}

#header-left{
	display: inline;
	float:left;
	text-align: left;
	margin: 0px auto;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

}

#header-title{
	display: inline;
	float:left;
	text-align: left;
	margin: 0px auto;
    padding-right: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

#alogo:hover{
	text-decoration: none;
}

#logo{
    width: 45px;
    height: 45px;
    vertical-align: 50%;
}

#logo-title{
    height: 40px;
    vertical-align: 50%
}

#header-subtitle{
	display: inline;
	float:left;
	text-align: left;
	margin: 14px auto 0px;
    padding-left: 10px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


#header-right {
	display: inline;
	width:30%;
	float:right;
	text-align:right;
	margin: 0px auto;
}

/*=MENU-------------------------------*/
ul.menu {
	list-style-type: none;
	margin: auto;
	padding: 0;
	width:100%;
	background:#ff9900;
	box-shadow: 0px 2px 5px #555;
	position:absolute;
}

li.menu {
	float: left;
	width: 25%;
}

a:link.menu, a:visited.menu {
	display: block;
	font-weight: bold;
	text-align: center;
	padding: 6px 10px;
	text-decoration: none;
	color:#fff;
	text-shadow: 0px 0px 2px #000;
}

a:hover.menu, a:active.menu {
	color:#ff9900;
	background: #fff;
	margin: auto 20%;
	padding: 6px auto;
	text-shadow: 0px 0px 0px;
}

#auth:visited, #auth:link {
    color: #ff9900;
}

/*=LAYOUT--------------------------------*/
.container{
	min-width:300px;
	max-width: 1024px;
	margin:auto;
	padding: 30px 20px auto;
	background: #fff;
}

h1.container{
    padding-top:60px;
}