.boards{
    background-color: #ffe89c;
}

#board{
    color:#000;
}


#board:hover, .boards:hover{
    text-decoration: none;
    background-color: #ffd75a;
}

.well{
    border:0;
}

#replies, #votes{
    width: 10%;
}

#pos_votes{
    color: #008000;
}

#neg_votes{
    color: #CC0000;
}

#last{
    width: 20%;
}