{% extends 'base.html'%}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static 'forum/style.css' %}' />
{% endblock %}
{% block menuleft %}<li class="closed"><a href="{% url 'forum:index' %}" class="navbar-link">Forum</a></li>{%  endblock %}
{% block menuright %}
    {% block menu_per_page %}{% endblock %}
    <li>
        <form class="navbar-form" role="search" method="post" id="search-form" name="search-form" action="{% url 'forum:search' none %}">
            <div class="input-group">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Search..." id="query" name="query_title" value="">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default search-btn" title="search"><span class="glyphicon glyphicon-search"></span></button>
                    <a href="{% url 'forum:new_search' %}" type="button" class="btn btn-default search-btn" methods="get" title="advanced search"><span class="glyphicon glyphicon-plus search"></span></a>
                </div>
            </div>
        </form>
    </li>
    {% if request.user.is_authenticated and request.user.is_supermod or request.user.modded_boards %}
        <li class="closed">
            <a class=" dropdown-toggle navbar-link" href="#" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-cog"></span></a>
            <ul id="menu-dropdown" class="dropdown-menu">
                {% if request.user.modded_boards or request.user.is_supermod%}
                    {% for board in request.user.modded_boards %}
                        <li><a href="{% url 'forum:board' board.code none %}">{{ board.name }}</a></li>
                    {% endfor %}
                    {% if request.user.is_supermod %}
                        <li><a href="{% url 'forum:create_board' %}">Create board</a></li>
                        <li><a href="{% url 'forum:moderators' %}">Manage moderators</a></li>
                        {% block supermod_menu %}{% endblock %}
                        {% if request.user.is_superuser %}
                            <li><a href="{% url 'forum:supermods' %}">Manage supermods</a></li>
                            {% block admin_menu %}{% endblock %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% endblock %}


