{%  extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{%  block titlesection %} - Forum - Create {{ object }}{%  endblock %}
{% block body %}
    {% if object == 'user modded boards' %}
        <div class="lead">Select modded board for user {{ user.username }}:</div>
    {% elif object == 'board moderation' %}
        <div class="lead">Select moderators for board {{ board.name }}:</div>
    {% endif %}
    <section>
        <form method="post">
            {% csrf_token %}
            <table id="board">
                {% for form in forms %}
                    {{ form|crispy }}
                {% endfor %}
            </table>
            {% if object == 'subscription' %}
                <input type="submit" value="Subscribe" class="btn btn-default" />
                <a href="{% url 'forum:thread' thread.pk none %}" role="button" class="btn btn-default">Cancel</a>
            {% elif object == 'moderation' %}
                <input type="submit" value="Confirm" class="btn btn-default" />
            {% elif object == 'search' %}
                <input type="submit" value="Search" class="btn btn-default" />
            {% else %}
                <input type="submit" value="Confirm" class="btn btn-default" />
            {% endif %}
        </form>
    </section>
{% endblock %}