{% extends 'forum/base.html' %}
{% load forum_extra %}
{%  block titlesection %}- Forum - Moderators{%  endblock %}
{% block body %}
    {% for board in boards %}
        <a href="{% url 'forum:board' board.code none %}" id="board">
            <div class="well well-sm boards lead">
                <div class="row">
                    <div class="col-xs-9">
                    {{ board.name }}
                    </div>
                    <div class="col-xs-3 text-right">
                        <a href="{% url 'forum:board_mod' board.code %}" title="manage moderators"><span class="glyphicon glyphicon-plus glip-action"></span></a>
                    </div>
                </div>
            </div>
        </a>
            {% for moderation in moderators.board %}
                <div class="mod-list-item">
                    <a href="{% url 'forum:remove_mod' moderation.user.pk board.code %}"><span class="glyphicon glyphicon-remove glip-action" onmouseover="" title="remove"></span></a>
                    <a href="{% url 'forum:profile' moderation.user.username %}"><img src="{{ moderation.user.avatar.url|file_exists }}" class="img-circle" width="30" height="30"></a>
                    <a href="{% url 'forum:profile' moderation.user.username %} " class="lead">{{ moderation.user.username }}</a>
                </div>
            {% endfor %}
    {% endfor %}
{% endblock %}