{%  extends 'forum/base.html' %}
{%  load staticfiles %}
{% load forum_extra %}
{% load crispy_forms_tags %}
{%  block titlesection %}- Forum - edit {{ user.username }} profile{%  endblock %}
{% block menu %}{% endblock %}
{% block body %}
    {%  if errors %}
        <div class="alert alert-danger">
            <strong>ERROR:</strong> {% for error in errors %}{{error}}{% endfor %}
        </div>
    {%  endif %}
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        	<div class="profile-pic">
                                <a title="edit" data-toggle="modal" data-target="#change-image">
                                    <img src="{{ user.avatar.url|file_exists }}" alt="user avatar" class="img-responsive img-profile">
                                    <div class="edit"><span class="glyphicon glyphicon-edit glip-action"></span></div>
                                </a>
	                        </div>
                        <br/>
                    </div>
                    <div class="col-xs-6 col-sm-12 text-right-xs" id="user-details">
                        {{ user.first_name }} {{ user.last_name }}<br/>
                        <span class="glyphicon glyphicon-user"></span> {{ user.username }}<br/>
                        <a title="Reputation"><span class="glyphicon glyphicon-star"></span> {{ user.rep }}</a><br/>
                        <a title="Threads"><span class="glyphicon glyphicon-pencil"></span> {{ user.num_threads }}</a><br/>
                        <a title="Posts"><span class="glyphicon glyphicon-comment"></span> {{ user.posts }}</a><br/>
                        <a title="User Since"><span class="glyphicon glyphicon-bookmark"></span> <span id="user_since"></span></a><br/>
                        <a title="Last Seen"><span class="glyphicon glyphicon-time"></span>{% if user.last_login %} <span id="last_seen"></span>
                        {% else %} Never logged in
                        {% endif %}
                        </a><br/>
                        {% if user.is_superuser %}
                            <span class="glyphicon glyphicon-king"></span> admin<br/>
                        {% elif user.is_supermod %}
                            <span class="glyphicon glyphicon-queen"></span> supermoderator<br/>
                        {% elif user.modded_boards %}
                            <span class="glyphicon glyphicon-knight"></span> moderator<br/>
                        {% else %}
                            <span class="glyphicon glyphicon-pawn"></span> user<br/>
                        {% endif %}
                    </div>
            </div>
        </div>
        <div class="col-sm-8">
            <form method="post">
                <div class="lead">
                    <span class="glyphicon glyphicon-edit glip-action" data-toggle="collapse" data-target=".first-name" aria-expanded="false" aria-controls="first-name" onmouseover=""></span>
                    {% if user.first_name %}
                        <a href="{% url 'forum:reset_first_name' 'first_name' %}"><span class="glyphicon glyphicon-remove glip-action" onmouseover="" title="clear"></span></a>
                        <b>First Name:</b> {{ user.first_name }}
                    {% else %}
                        First Name field is empty
                    {% endif %}
                    <div class="collapse first-name">
                        {% csrf_token %}
                        <table>
                            {{ form.first_name }}
                        </table>
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div><br/>
                    <span class="glyphicon glyphicon-edit glip-action" data-toggle="collapse" data-target=".last-name" aria-expanded="false" aria-controls="last-name" onmouseover=""></span>
                    {% if user.last_name %}
                        <a href="{% url 'forum:reset_last_name' 'last_name' %}"><span class="glyphicon glyphicon-remove glip-action" onmouseover="" title="clear"></span></a>
                        <b>Last Name:</b> {{ user.last_name }}
                    {% else %}
                        Last Name field is empty
                    {% endif %}
                    <div id="last-name" class="collapse last-name">
                        {% csrf_token %}
                        <table>
                            {{ form.last_name }}
                        </table>
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a href="{% url 'forum:profile' user.username %}" ><button class="btn btn-default">Back to profile</button></a>
                </div>
            </div>
        </div>
    </div>

    <div id="change-image" class="modal fade" role="dialog">
        <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-body">
                     <form enctype="multipart/form-data" method="post">
                         <div class="row">
                             <div class="col-xs-12 text-right">
                                 <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove glip-action"></span></button>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-xs-12">
                                    {% csrf_token %}
                                    {{ form.avatar }}
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-xs-12 text-center">
                                 <input type="submit" value="Submit" class="btn btn-default" />
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                 <a href="{% url 'forum:reset_avatar' 'avatar' %}" type="button" class="btn btn-default" id="img-remove">Remove current</a>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
        </div>
    </div>

    <script src="{% static 'forum/js/dateScript.js' %}"></script>
    <script>
    document.getElementById("user_since").innerHTML = date_fun(new Date({{ user.date_joined|date:'Y, m, d' }}));
    document.getElementById("last_seen").innerHTML = date_fun(new Date({{ user.last_login|date:'Y, m, d' }}))
    </script>
{% endblock %}